<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @event.street_number %>
</p>
<p>
  <strong>Street name:</strong>
  <%= @event.street_name%>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @event.cost%>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @event.tickets%>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<%binding.pry%>
<% @tinder.each do |user_event| %>
  <% user = User.find(user_event.shown_user_id.to_i) %>
  <% if user.real %>
    <%= image_tag(user.image + "?type=large") %>
  <% else %>
  <%= image_tag(user.image[66..-1])%>
<% end %>
  <%= link_to "Right", "/users/#{user.id}/tinder" %><br>
  <%= link_to "#{user.name}", "/users/#{user.id}" %><br>
<% end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

